<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
</head>
<body>
@RenderBody()
<hr />
<small>AngleSharp Testpage | <a href="https://anglesharp.github.io">anglesharp.github.io</a></small>
</body>
</html>
